name: inception

services:
  mariadb:
    image: mariadb:1.0
    container_name: mariadb
    build: ./mariadb/
    restart: on-failure
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/sikunne/data/mariadb